// Custom css-styles for react-select
// Docs: https://react-select.com/styles

html {
  $menuBackgroundColor: $contentColor;
  $menuSelectedOptionBgc: $layoutBackground;

  --select-menu-bgc: #{$menuBackgroundColor};
  --select-menu-border-color: #{$halfGray};
  --select-option-selected-bgc: #{$menuSelectedOptionBgc};
  --select-option-selected-color: #{$selectOptionHoveredColor};
  --select-option-focused-bgc: #{$colorInfo};
  --select-option-focused-color: #{$textColorAccent};
  
  .Select {
    position: relative;
    min-width: 14vw;
    * {
      color: inherit;
    }

    &::placeholder {
      color: #a5a5a5;
      opacity: .75;
    }

    &--is-disabled {
      opacity: .75;
      cursor: not-allowed;
      pointer-events: auto;
    }

    &.isFilter {
      .Select__control {
        background: transparent;
        box-shadow: 0 0 0 1px $halfGray;
        padding: 0;
      }
    }

    &__control {
      padding: 2px;
      background: #ececec;
      box-shadow: none;
      color: var(--textColorSecondary);
      border: none;
      border-radius: $radius;
      min-height: 0;
      cursor: text;
      &:after {
        content: "";
        position: absolute;
        top: calc(100% - 1px);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background: var(--primary);
        transition: width 250ms;
      }
      &--is-focused {
        // box-shadow: 0 0 0 2px $primary;
        &:after {
          width: 100%;
        }
      }
    }

    &__value-container {
      margin-bottom: 1px;
    }

    &__placeholder {
      color: #8f8d8d;
      opacity: .75;
    }

    &__indicator {
      // padding: $padding /2;
      padding: 0;
      opacity: .55;

      &:hover {
        color: inherit;
        opacity: 1;
      }

      &-separator {
        display: none;
      }

      svg {
        cursor: pointer;
      }

    }

    &__dropdown {
      &-indicator {
        color: inherit !important;
        padding: $padding / 2;
      }
    }

    &__menu {
      background: var(--select-menu-bgc);
      // box-shadow: inset 0 0 0 1px var(--select-menu-border-color);

      &-list {
        @include custom-scrollbar;
        padding-right: 1px;
        padding-left: 1px;
      }

      &-notice {
        padding: $padding / 3;
      }
    }

    &__option {
      &:active {
        background: $primary;
      }

      &--is-selected {
        background: var(--select-option-selected-bgc);
        color: var(--select-option-selected-color);
      }

      &--is-focused {
        color: var(--select-option-focused-color);
        background: var(--select-option-focused-bgc);
      }

      &--is-disabled {
        cursor: not-allowed;
        background: none !important;
        color: $contentColor;
        opacity: .75;
      }

      .Icon {
        transition: none;
      }
    }

    &__value-container {
      &--is-multi {
      }

      &--has-value {
      }
    }

    &__multi-value {
      background: $layoutBackground;

      &__remove {
        background: inherit;
        cursor: pointer;
        &:hover {
          background: $colorError;
          color: $textColorAccent;
        }
      }
    }
  }
  .show {
    .Select__dropdown-indicator {
      display: none;
    }
  }

  .select-clear {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -7px;
    height: 14px;
    width: 14px;
    font-size: 14px;
    cursor: pointer;
    >span {
      line-height: 14px;
    }
    &.hide {
      display: none;
    }
  }

  //-- Themes

  .Select__menu {
    z-index: $zIndex-select-portal; // render at the top when used inside dialog
  }

  .Select, .Select__menu {
    &.theme-light {
      --select-menu-bgc: white;
      --select-option-selected-color: $textColorSecondary;
      --select-option-selected-bgc: $textColorSecondary;

      .Select {
        &__menu-list {
          @include custom-scrollbar($theme: dark);
            padding-right: 0;
            padding-left: 0;
        }

        &__multi-value {
          background: none;
          // box-shadow: 0 0 0 1px $textColorSecondary;
          box-shadow: 0 0 0 1px #9f9d9d
        }

        &__option {
          &:active {
            color: white;
          }

          &--is-focused {
            color: white;
          }
        }
      }
    }

    &.theme-outlined {
      .Select__control {
        box-shadow: 0 0 0 1px $colorVague;
        color: $primary;

        .Select__value-container {
          padding: 0 $padding / 2;
        }

        .Select__dropdown-indicator {
          padding: 3px;
        }
      }
    }
  }
}
