.book-tabs {
  @keyframes slide-down {
    0% {
      transform: rotate(90deg) scale(0, 1);
    }
    100% {
      transform: rotate(90deg) scale(1, 1);
    }
  }
  @keyframes slide-up {
    0% {
      transform: rotate(90deg) scale(1, 1);
    }
    100% {
      transform: rotate(90deg) scale(0, 1);
    }
  }
  .tab-chunk {
    position: absolute;
    top: 0;
    margin-left: -59px;
    box-shadow: -2px -1px 3px $bookBoxShadow;
    .chunk {
      background-color: #ffffff;
      height: 34px;
      width: 34px;
      line-height: 34px;
      font-weight: 500;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      border-bottom: 1px solid #bcbcbc;
      &.active {
        // background-color: #3d90ce;
        border-bottom: 2px solid #2d98ed;
        color: #2d98ed;
      }
    }

    .chunk:first-of-type {
      margin-top: 0;
    }
  }
}